<html>
<head>
	<title>Blood_Bank Wed App</title>
	<style>
		*{ font-size:30px;font-family:Courier;
		background-color:lightpink;}
	</style>
</head>
<body>
<center>
<h1>You can EDIT BLOOD BANK/BLOOD DONOR details By Entering Authenticate id number</h1>

<form action="/edit_bb" method="POST">
	Select your choice <select name="choice1">
		<option value="bb">Blood Bank</option>
		<option value="bd">Blood Donor</option>
	</select>
	<br><br>
	<input type="number" name="id" placeholder="Enter id " required></input>
	<br><br>
	<input type="text" name="blood_type" placeholder="Enter Blood type " required></input>
	<br><br>
	<input type="text" name="loc" placeholder="Enter Location" required></input>
	<br><br>
	<input type="text" name="bb_name" placeholder="Enter BD/BB name" required></input>
	<br><br>
	<input type="number" name="cont" placeholder="Enter contact number " required></input>
	<br><br>
	<input type="submit" value="Edit" style="cursor:pointer";></input>
</form>
<br>
{{ msg }}
<br>
<a href="{{url_for('home')}}">Home page</a>
</center>
</body>
</html>
	
		