<html>
<head>
	<title>Blood_Bank Wed App</title>
	<style>
		*{ font-size:30px;font-family:Courier;
		background-color:lightpink;}
	</style>
</head>
<body>
<center>
<h1>You can DELETE Admin by entering authenticate username</h1>
<form action="/del_admin" method="POST">
<h2>Enter Admin's Username</h2>
	<input type="text" name="username" placeholder="Enter username" required></input>
	<br><br>
	<input type="submit" value="Delete" style="cursor:pointer";>
</form>
<br>
{{ msg }}
<br>
<a href="{{url_for('home')}}">Home page</a>
</center>
</body>
</html>